In [4]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer # 빈도수 계산 사용

corpus = [
    'Data Science is an overlap between Arts and Science',
    'Generally, Arts graduates are right-brained and Science graduates are left-brained',
    'Excelling in both Arts and Science at a time becomes difficult',
    'Natural Language Processing is a part of Data Science'
]

In [6]:
# Q1 Solution : For all words
# 행렬을 만드는 작업
bag_of_words_model = CountVectorizer()
print(bag_of_words_model.fit_transform(corpus).todense())
# 첫번째 문장에서 구성하고 있는 단어들을 세고, 두번째 문장에서 구성하고 있는 단어들을 세고..
# column은 문장을 구성하고 있는 단어의 개수

[[1 1 0 1 0 0 1 0 0 1 0 0 0 0 0 1 0 0 0 0 1 0 0 0 2 0]
 [0 1 2 1 0 0 0 0 2 0 0 0 1 2 0 0 0 1 0 0 0 0 0 1 1 0]
 [0 1 0 1 1 1 0 1 0 0 1 1 0 0 1 0 0 0 0 0 0 0 0 0 1 1]
 [0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 1 0 1 1 0 1 1 0 1 0]]

In [7]:
bag_ofword_df = pd.DataFrame(bag_of_words_model.fit_transform(corpus).todense())
bag_ofword_df.columns = sorted(bag_of_words_model.vocabulary_) # 자동으로 단어 사전 생성
bag_ofword_df.head()

,an,and,are,arts,at,becomes,between,both,brained,data,...,language,left,natural,of,overlap,part,processing,right,science,time
0,1,1,0,1,0,0,1,0,0,1,...,0,0,0,0,1,0,0,0,2,0
1,0,1,2,1,0,0,0,0,2,0,...,0,1,0,0,0,0,0,1,1,0
2,0,1,0,1,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,1,1
3,0,0,0,0,0,0,0,0,0,1,...,1,0,1,1,0,1,1,0,1,0

#### 이게 NLP의 시작 => 단어의 개수부터 세는 것

In [9]:
# Q1 Solution : For all words
# 행렬을 만드는 작업
bag_of_words_model_small = CountVectorizer(max_features=10) # 최대 단어 개수는 10개
print(bag_of_words_model_small.fit_transform(corpus).todense())

[[1 1 0 1 0 1 0 1 0 2]
 [0 1 2 1 2 0 2 0 1 1]
 [0 1 0 1 0 0 0 0 0 1]
 [0 0 0 0 0 1 0 1 0 1]]

In [10]:
bag_ofword_df_small = pd.DataFrame(bag_of_words_model_small.fit_transform(corpus).todense())
bag_ofword_df_small.columns = sorted(bag_of_words_model_small.vocabulary_) # 자동으로 단어 사전 생성
bag_ofword_df_small.head()

   an  and  are  arts  brained  data  graduates  is  right  science
0   1    1    0     1        0     1          0   1      0        2
1   0    1    2     1        2     0          2   0      1        1
2   0    1    0     1        0     0          0   0      0        1
3   0    0    0     0        0     1          0   1      0        1